<h2 class="title">Pokémon</h2>

<div class="pagination">
  <button (click)="prevPage()" [disabled]="currentPage === 0">
    ◀ Anterior
  </button>

  <span>Página {{ currentPage + 1 }}</span>

  <button (click)="nextPage()">
    Siguiente ▶
  </button>
</div>

<div class="table-container">
  <table class="pokemon-table">
    <thead>
      <tr>
        <th>Sprite</th>
        <th>Nombre</th>
        <th>Tipo 1</th>
        <th>Tipo 2</th>
        <th>Habilidad 1</th>
        <th>Habilidad 2</th>
        <th>Habilidad 3</th>
        <th>Altura</th>
        <th>Peso</th>
      </tr>
    </thead>

    <tbody>
      @for (pokemon of pokemonList; track pokemon.name) {
      <tr>
        <td>
          @if (pokemon.sprite) {
          <img [src]="pokemon.sprite" [alt]="pokemon.name" class="sprite" />
          } @else {
          -
          }
        </td>
        <td class="name">{{ pokemon.name }}</td>

        <td>
          <span class="badge type">
            {{ pokemon.types?.[0]?.type?.name }}
          </span>
        </td>

        <td>
          <span class="badge type secondary">
            {{ pokemon.types?.[1]?.type?.name || '-' }}
          </span>
        </td>

        <td>{{ pokemon.abilities?.[0]?.ability?.name }}</td>
        <td>{{ pokemon.abilities?.[1]?.ability?.name || '-' }}</td>
        <td>{{ pokemon.abilities?.[2]?.ability?.name || '-' }}</td>
        <td>{{ formatHeight(pokemon.height) }}</td>
        <td>{{ formatWeight(pokemon.weight) }}</td>
      </tr>
      } @empty {
      <tr>
        <td colspan="9" class="empty">No hay Pokémon cargados</td>
      </tr>
      }
    </tbody>
  </table>
</div>