<h1>⚔️ Pokémon Battle Simulator</h1>
<h2>Entrenadores</h2>
<div class="row">
  <!-- SELECT ENTRENADOR -->
<h2>Selecciona un entrenador</h2>

<select
  (change)="selectTrainerByName($event)"
>
  <option value="" disabled selected>
    Elige un entrenador
  </option>
  <option
    *ngFor="let t of trainers"
    [value]="t.id"
  >
    {{ t.name }} - {{ t.category }}
  </option>
</select>

<!-- INFO ENTRENADOR -->
<div *ngIf="selectedTrainer">
  <h2>{{ selectedTrainer.name }}</h2>
  <p>{{ selectedTrainer.description }}</p>
</div>

<!-- EQUIPO EN TABLA 2x3 -->
<h2>Equipo del entrenador</h2>
<table *ngIf="selectedTrainer" class="team-table">
  <tr *ngFor="let row of getRows(selectedTrainer.team)">
    <td *ngFor="let p of row">
      <div class="pokemon-cell">
        <img [src]="p.sprite" />
        <p>{{ p.name }}</p>
      </div>
    </td>
  </tr>
</table>
</div>
<h2>Tu equipo ({{team.length}} / 6)</h2>
<div class="row">
  <div
    class="pokemon"
    *ngFor="let p of team"
    >
    <img [src]="p.sprite">
    <p>{{ p.name }}</p>
  </div>
</div>
<button (click)="fight()">
  ⚔️ Combatir
</button>
<div class="result" *ngIf="battleResult">
  <h2>Probabilidad de victoria</h2>
  <div class="percent">
    {{ battleResult.winChance }}%
  </div>
  <p *ngFor="let r of battleResult.reasons">
    • {{ r }}
  </p>
</div>