@if (pokemon$ | async; as data) {

<div class="pokemon-card">

  <h1>{{ data.pokemon.name| titlecase }}</h1>

  <img [src]="data.pokemon.sprite" [alt]="data.pokemon.name" class="pokemon-image" />

  <h2>Tipos</h2>

  <ul>
    @for (type of data.pokemon.types; track type.slot) {
    <li class="typebadge" [ngClass]="'type-' + type.type.name">{{ translateType(type.type.name) }}</li>
    }
  </ul>

  <h2>Descripción</h2>
  <p>
    {{ (pokemon$ | async)?.description }}
  </p>

  <h2>Evolución</h2>
  <app-evolution-node
    *ngIf="data.evolutionTree"
    [node]="data.evolutionTree">
  </app-evolution-node>

  <!-- Fortalezas -->
  <h2>Fortalezas</h2>
  @if (data.strengths.length > 0) {
  <ul>
    @for (t of data.strengths; track t) {
    <li [ngClass]="'type-' + t" class="strength typebadge">{{ t }}</li>
    }
  </ul>
  } @else {
  <p>Sin fortalezas destacadas</p>
  }

  <!-- Debilidades -->
  <h2>Debilidades</h2>
  @if (data.weaknesses.length > 0) {
  <ul>
    @for (t of data.weaknesses; track t) {
    <li [ngClass]="'type-' + t" class="weakness typebadge">{{ t }}</li>
    }
  </ul>
  } @else {
  <p>Sin debilidades destacadas</p>
  }

  <!-- Inmunidades -->
  <h2>Inmunidades</h2>
  @if (data.immunities.length > 0) {
  <ul>
    @for (t of data.immunities; track t) {
    <li [ngClass]="'type-' + t" class="immunities typebadge">{{ t }}</li>
    }
  </ul>
  } @else {
  <p>Sin inmunidades destacadas</p>
  }

  <h2>Habilidades</h2>

  @for (a of data.abilities; track a.name) {
  <div>
    <h3>{{ a.name }}</h3>
    <p>{{ a.description }}</p>
  </div>
  }

  <p><strong>Altura:</strong> {{ data.pokemon.height / 10 }} m</p>
  <p><strong>Peso:</strong> {{ data.pokemon.weight / 10 }} kg</p>

  <h2>Estadisticas</h2>

  <ul>
    @for (stat of data.pokemon.stats; track stat.stat.name) {
    <li>{{ translateStat(stat.stat.name) }}: {{ stat.base_stat}}</li>
    }
  </ul>

</div>

} @else {

<p>Cargando Pokémon...</p>

}